* {
   margin: 0px;
   padding: 0px;
}

body {
   background-image: url(../images/bg.png);
   background-size: cover;
   height: 100vh;
}

main {
   width: 70%;

   .gauche {
      background-image: url(../images/player.jpg);
      background-size: cover;
   }

   .row {
      .droite {
         background-color: #f3f3f3;

         .row {
            .col-6 {
               .marge {
                  height: 2.3rem;
               }
            }
         }
      }
   }
}